<div class="form-group row pt-1 pb-1">
  <label class="col-3 col-md-2 col-form-label text-sm-left collapsible">月份</label>
  <div class="col-12 col-sm-7 col-lg-9 form-check content">
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="jan" name="jan">
      <label class="custom-control-label" for="jan">一月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="feb" name="feb">
      <label class="custom-control-label" for="feb">二月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="mar" name="mar">
      <label class="custom-control-label" for="mar">三月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="apr" name="apr">
      <label class="custom-control-label" for="apr">四月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="may" name="may">
      <label class="custom-control-label" for="may">五月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="jun" name="jun">
      <label class="custom-control-label" for="jun">六月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="jul" name="jul">
      <label class="custom-control-label" for="jul">七月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="aug" name="aug">
      <label class="custom-control-label" for="aug">八月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="sep" name="sep">
      <label class="custom-control-label" for="sep">九月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="oct" name="oct">
      <label class="custom-control-label" for="oct">十月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="nov" name="nov">
      <label class="custom-control-label" for="nov">十一月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="dec" name="dec">
      <label class="custom-control-label" for="dec">十二月</label>
    </div>
  </div>
</div>
<div class="form-group row pt-1 pb-1">
  <label class="col-3 col-md-2 col-form-label text-sm-left collapsible">類型</label>
  <div class="col-12 col-sm-7 col-lg-9 form-check content">
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="jan" name="jan">
      <label class="custom-control-label" for="jan">一月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="feb" name="feb">
      <label class="custom-control-label" for="feb">二月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="mar" name="mar">
      <label class="custom-control-label" for="mar">三月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="apr" name="apr">
      <label class="custom-control-label" for="apr">四月</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" type="checkbox" id="may" name="may">
      <label class="custom-control-label" for="may">五月</label>
    </div>
  </div>
</div>