.mr-02 {
  margin-right: 0.2rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}

.btn-send {
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.btn-create {
  right:0;
}

.btn-send:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.collapsible:hover {
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\002B';
  color: #495057;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  overflow: hidden;
  display: none;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
